@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.counter {
  margin: 15px 0;
  font-size: 40px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
